#stickyHeader {
  width: 100vw;
  position: fixed;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.header-scroll {
  background: rgba(0, 0, 0, .4);
  height: 8rem;
  transition: 0.3s;
}

.header-scroll_on {
  background: #323232;
  height: 6rem;
  transition: 0.3s;
}

.container-flex-row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 102rem;
  align-items: center;
}

.logo {
  background: url(../img/logo-default1-140x57.png) no-repeat;
  width: 9rem;
  height: 4rem;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
}

.nav>a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

.nav>a:hover {
  color: #41A451;
}

.book-now {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #323232;
  background: #fff;
  padding: 8px 18px;
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
}

.book-now:hover {
  color: #fff;
  background: #323232;
}



@media screen and (max-width: 1678px) {
  .container-flex-row-header {
    width: 91rem;
  }
}

@media screen and (max-width: 1540px) {
  .container-flex-row-header {
    width: 85rem;
  }
}

@media screen and (max-width: 1413px) {
  .container-flex-row-header {
    width: 78rem;
  }
}

@media screen and (max-width: 1290px) {
  .container-flex-row-header {
    width: 62rem;
  }
}
