#stickyHeader {
  width: 100vw;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-scroll {
  background: rgba(0, 0, 0, 0.4);
  height: 8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-scroll_on {
  background: #323232;
  height: 6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-flex-row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 102rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background: url(../img/logo-default1-140x57.png) no-repeat;
  width: 9rem;
  height: 4rem;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25rem;
}

.nav > a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

.nav > a:hover {
  color: #41A451;
}

.book-now {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #323232;
  background: #fff;
  padding: 8px 18px;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.book-now:hover {
  color: #fff;
  background: #323232;
}

@media screen and (max-width: 1678px) {
  .container-flex-row-header {
    width: 91rem;
  }
}

@media screen and (max-width: 1540px) {
  .container-flex-row-header {
    width: 85rem;
  }
}

@media screen and (max-width: 1413px) {
  .container-flex-row-header {
    width: 78rem;
  }
}

@media screen and (max-width: 1290px) {
  .container-flex-row-header {
    width: 62rem;
  }
}

.first {
  width: 100%;
  height: 47rem;
  overflow: hidden;
  text-align: center;
}

.back {
  background: url(../img/ostrov-anak-krakatau-indoneziia-vulkan-izverzhenie.jpg) no-repeat;
  background-repeat: round;
  width: 120%;
  height: 100%;
  margin-left: -50px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: slam;
          animation-name: slam;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
}

@-webkit-keyframes slam {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes slam {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.welcome {
  bottom: 28rem;
  position: relative;
}

.welcome-name {
  font-size: 80px;
  font-family: 'PT Serif', serif;
  letter-spacing: .01em;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.line {
  font-size: 0;
  line-height: 0;
  margin: 30px 0 22px;
}

.line::before {
  display: inline-block;
  content: '';
  height: 0;
  width: 60px;
  border-top: 3px solid #fff;
}

.welcome-about {
  font-size: 18px;
  line-height: 1.66667;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: inline-block;
  max-width: 550px;
  letter-spacing: -.03em;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.input-name, .input-phone, .input-date {
  border: none;
  color: black;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  outline: none;
}

.check-in {
  text-decoration: none;
  background: black;
  color: white;
  padding: 20px 21px;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check-in:hover {
  background: #41A451;
}

.name-space {
  text-align: left;
  font-size: 16px;
}

.second {
  width: auto;
  height: 35rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.guest-form {
  background: #fff;
  height: 10rem;
  width: 75rem;
  position: relative;
  top: -5rem;
  border-radius: 7px;
  -webkit-box-shadow: 0px 10px 38px -19px black;
          box-shadow: 0px 10px 38px -19px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-second {
  background: url(../img/lisa-lisenok-lisionok-profil-trava-fon.jpg) no-repeat;
  height: 19rem;
  width: 33rem;
  background-size: cover;
  background-repeat: round;
  border-radius: 11px;
  position: relative;
  right: 74%;
}

.text-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  width: 31rem;
  position: relative;
  left: 71%;
}

.text-second > h2 {
  font-size: 45px;
  font-family: 'PT Serif', serif;
  letter-spacing: 0;
}

.text-second > p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: rgba(21, 21, 21, 0.8);
  margin-top: 1.5rem;
}

.sign {
  background: url(../img/signature-1-140x50.png) no-repeat;
  height: 4rem;
  margin-top: 1.5rem;
}

.container-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third {
  text-align: center;
  height: 58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-offer {
  background: url(../img/1.jpg) no-repeat;
  height: 24rem;
  width: 23rem;
  background-size: cover;
  margin-bottom: 1.5rem;
}

.img2 {
  background: url(../img/2.jpg) no-repeat;
}

.img3 {
  background: url(../img/3.jpg) no-repeat;
}

.offer-name {
  font-size: 45px;
  font-family: 'PT Serif', serif;
  margin-top: 2rem;
  position: relative;
  bottom: 26%;
  z-index: -1;
}

.offer-about {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  opacity: .8;
  color: rgba(21, 21, 21, 0.8);
  margin-top: 2rem;
  position: relative;
  bottom: 32%;
  z-index: -1;
}

.offer-cards {
  margin-top: 2rem;
  position: relative;
  top: 66%;
}

.order-now {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 17rem;
  background: #41A451;
  padding: 11px 23px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 90px 28px black;
          box-shadow: 0px 0px 90px 28px black;
  font-weight: 700;
}

.card:hover .order-now {
  opacity: 1;
  top: 19rem;
}

.order-now:hover {
  background: #444141;
}

.name-card {
  font-size: 26px;
  font-family: 'PT Serif', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 2rem;
  color: black;
}

.name-card:hover {
  color: #41A451;
}

.price-card {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  color: #41A451;
}

.fourth {
  background: #f5f5f5;
  width: 100%;
  height: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-flex-column-center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-name {
  font-size: 45px;
  font-family: 'PT Serif', serif;
  margin-bottom: 5rem;
}

.menu-block {
  width: 100%;
  height: 1050px;
  background: white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.header-menu {
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22rem;
}

.menu-nav > h3 {
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-nav > h3:hover {
  color: #41A451;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.newMenuElem {
  width: 60%;
  height: 200px;
  margin-top: 20px;
  text-align: left;
}

.newMenuElem > .price {
  font-size: 18px;
  color: green;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.newMenuElem > .productName {
  font-size: 26px;
  margin-top: 16px;
  font-family: 'PT Serif', serif;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newMenuElem > .productName:hover {
  color: #41A451;
}

.newMenuElem > .productDescript {
  font-size: 15px;
  margin-top: 15px;
  color: grey;
  font-family: 'Poppins', sans-serif;
}

.picture-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
  bottom: 50%;
  z-index: -1;
}

.picture-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
  top: 50%;
  z-index: -1;
}

.pic {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pic1 {
  background: url(../img/roza-rozovaia-tsvetok-1.jpg) no-repeat;
  background-size: cover;
  background-repeat: round;
}

.pic2 {
  background: url(../img/valentin-petrov-jungle-book-concept-art-art-les.jpg) no-repeat;
  background-size: cover;
  background-repeat: round;
}

.pic3 {
  background: url(../img/space-marine-kosmodesant-ultramariny-ognemiot-iarost-topor-c.jpg) no-repeat;
  background-size: cover;
  background-repeat: round;
}

.pic4 {
  background: url(../img/starcraft-starkraft-strategiia-zergi-zergs-zagara-zagara-kor.jpg) no-repeat;
  background-size: cover;
  background-repeat: round;
}

.pic5 {
  background: url(../img/khot-dog-bulochka-sosiska-bekon-salat.jpg) no-repeat;
  background-size: cover;
  background-repeat: round;
}

.fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 800px;
  width: 100vw;
}

.zoom {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  background: white;
  padding: 31px 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.pic:hover .out-but {
  opacity: 1;
  left: 0;
}

.out-but {
  background: rgba(255, 255, 255, 0.3);
  padding: 11px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  position: relative;
  left: -3%;
}

.out-but:hover {
  padding: 20px;
}

#news {
  width: 100%;
  height: 700px;
  background-color: #FFFFFF;
  color: rgba(21, 21, 21, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

#news #newsHeader {
  width: 100%;
  text-align: center;
  margin-top: -100px;
  font-size: 35px;
}

#news #nonagon {
  width: 1210px;
  height: 300px;
  overflow: hidden;
  margin-top: 800px;
}

#news #nonagon #nonagonCrutch {
  width: 300%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#news #nonagon #nonagonCrutch .nonagon {
  width: 20%;
  height: 300px;
  margin: 0 20px;
}

#news #nonagon #nonagonCrutch .nonagon .nonTop {
  padding: 6px;
  background-color: #2d2d2d;
  width: 120px;
  text-align: center;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#news #nonagon #nonagonCrutch .nonagon .nonTop:hover {
  background-color: green;
}

#news #nonagon #nonagonCrutch .nonagon h4 {
  font-size: 35px;
  margin-top: 20px;
  font-weight: lighter;
  cursor: pointer;
}

#news #nonagon #nonagonCrutch .nonagon h4:hover {
  color: green;
}

#news #nonagon #nonagonCrutch .nonagon p {
  font-size: 16px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

#news #nonagon #nonagonCrutch .nonagon h5 {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

#news #nonagon #nonagonCrutch .nonagon h5:hover {
  color: green;
}

#news #triada {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 800px;
}

#news #triada .triada {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

#news #triada .triada:hover {
  background-color: green;
}

footer {
  text-align: center;
  background: #323232;
  height: 33rem;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-info {
  width: 34%;
  height: 67%;
  position: relative;
  top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-footer {
  background: url(../img/logo-default1-140x57.png) no-repeat;
  height: 4rem;
  margin: 0 auto;
  width: 8rem;
  background-size: contain;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.nav-footer > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-footer > a:hover {
  color: #41A451;
}

.border-footer {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.icon-footer > a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.icon-footer > a:hover {
  background: #41A451;
}

[class*=fa-]:before {
  font-family: 'fontawesome';
}

.icon-footer > a::before {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  top: 14%;
}

.copyright {
  margin-top: 7rem;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.copyright > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.copyright > a:hover {
  color: #41A451;
}

#photosModal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#photosModal button {
  background-color: rgba(255, 255, 255, 0.0001);
  color: white;
  border: none;
  cursor: pointer;
}

#photosModal .leftButton {
  position: absolute;
  top: 50%;
  left: 10%;
}

#photosModal .rightButton {
  position: absolute;
  top: 50%;
  right: 10%;
}

#photosModal .close {
  position: absolute;
  top: 5%;
  right: 5%;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

#photosModal button i {
  font-size: 200%;
  font-style: normal;
}

#photosModal .photosModalInner {
  margin: auto;
  position: relative;
  width: 500%;
  height: 100%;
}

#photosModal .photosModalInner .modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#photosModal .photosModalInner .modalWrapper .photosSlider {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  height: 80%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#photosModal .photosModalInner .modalWrapper .photosSlider .photosSliderPhoto {
  width: 20%;
  display: inline-block;
  margin-left: 5%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

#photosModal .photosModalInner .modalWrapper .photosSlider #photo1 {
  background: url(../img/roza-rozovaia-tsvetok-1.jpg) no-repeat;
  background-size: cover;
}

#photosModal .photosModalInner .modalWrapper .photosSlider #photo2 {
  background: url(../img/valentin-petrov-jungle-book-concept-art-art-les.jpg) no-repeat;
  background-size: cover;
}

#photosModal .photosModalInner .modalWrapper .photosSlider #photo3 {
  background: url(../img/space-marine-kosmodesant-ultramariny-ognemiot-iarost-topor-c.jpg) no-repeat;
  background-size: cover;
}

#photosModal .photosModalInner .modalWrapper .photosSlider #photo4 {
  background: url(../img/starcraft-starkraft-strategiia-zergi-zergs-zagara-zagara-kor.jpg) no-repeat;
  background-size: cover;
}

#photosModal .photosModalInner .modalWrapper .photosSlider #photo5 {
  background: url(../img/khot-dog-bulochka-sosiska-bekon-salat.jpg) no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
}
/*# sourceMappingURL=main.css.map */