@import 'header';
@import 'first';
@import 'form';
@import 'second';
@import 'third';
@import 'fourth';
@import 'fifth';
@import 'news';
@import 'footer';
@import 'modalfoto';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
}



